{% extends "products/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}

<h1>{{ product.name }} Detail</h1>

<div class=" py-5 bg-body-secondary rounded">
 <div class="container">
   <div class="row mx-5">
     <div class="col-md-8">
       <img src="{{product.image.url}}" class="img-fluid rounded" width="100%">
     </div>
     <div class="col-md-4">
        <!-- Add more details about the item here -->
        <h2>{{product.name}}</h2>
         <br>
        <p><strong>Price: </strong> ₦{{ product.price }}</p>
        <p><strong>Description:</strong><br>
        </p>{{product.description}}</p>
         <br>
        <p><strong>Vendor: </strong>@{{product.created_by.username}}
        </p>
        <a href="" class="btn btn-secondary">Contact Seller</a>
        <a href="" class="btn btn-success">Buy Now</a>
        </div>
     </div>
   </div>
 </div>
    <br>
    <hr>
    <br>
    <h1 class="">Related Items</h1>
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            {% if related_items %}
                {% for item in related_items %}
                <div class="col">
                <div class="card shadow-sm">
                    <img src="{{ item.image.url }}" alt="" width="100%" height="225">
                    <div class="card-body">
                        <p class="card-text">{{ item.name }}</p>
                        <p class="card-text">${{ item.price }}</p>
                        <p class="card-text"><strong>Category: </strong>{{ item.category.name }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if request.user == item.created_by %}
                                <a href="{% url 'products:detail' item.id %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                <a href="{% url 'products:edit_item' item.id %}" type="button" class="btn btn-sm btn-outline-success">Edit</a>
                                <a href="{% url 'products:delete' item.id %}" type="button" class="btn btn-sm btn-outline-danger">Delete</a>
                                {% else %}
                                <a href="{% url 'products:detail' item.id %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Buy Now</button>
                                <a href="{% url 'conversation:new' item.id %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">Contact Seller</a>
                                <!-- add to cart and take the user to checkout page-->
                                {% endif %}
                            </div>
                            <small class="text-body-secondary">@{{ item.created_by.username }}</small>
                        </div>
                    </div>
                </div>
            </div>
                {% endfor %}
            {% else %}
                <p>There are no related items for {{ item.category.title }} category</p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}